@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

:root {
  --main-bg: #181f2a;
  --footer-bg: #0b1523;
  --intro-bg: #1c2341;
  --test-bg: #202a3c;
  --cyan: #65e2d9;
  --blue: #339ecc;
  --red: #ff4242;
  --white: #fff;
}

body {
  background-color: var(--main-bg);
  font-size: 0.875rem;
  color: var(--white);
  font-family: "Open Sans";
  line-height: 1.25rem;
  text-align: center;
}

a,
h1,
h2 {
  font-family: "Raleway";
}

img {
  width: 100%;
  z-index: 20;
}

nav {
  background-color: var(--intro-bg);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navImg {
  height: 70%;
  padding: 4px;
}

.navImg img {
  height: 100%;
}

.menu {
  width: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Started {
  background: var(--intro-bg);
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.bottom {
  background-color: var(--main-bg);
}
.mainTitle {
  position: relative;
  z-index: 10;
}

.mainTitle::before {
  content: "";
  position: absolute;
  height: 200%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: center/contain no-repeat url(/images/bg-curvy-mobile.svg);
  z-index: -1;
}

h1 {
  font-size: 1.563rem;
  font-weight: bold;
  line-height: 2.5rem;
}
button {
  width: 85%;
  height: 3rem;
  font-weight: bold;
  background-image: linear-gradient(90deg, var(--cyan), var(--blue));
  border-radius: 50em;
}
