@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

:root {
  --main-bg: #181f2a;
  --footer-bg: #0b1523;
  --intro-bg: #1c2341;
  --test-bg: #202a3c;
  --cyan: #65e2d9;
  --blue: #339ecc;
  --red: #ff4242;
  --white: #fff;
}
/* GENERALITE */

body {
  background-color: var(--main-bg);
  font-size: 0.875rem;
  color: var(--white);
  font-family: "Open Sans";
  line-height: 1.25rem;
  text-align: center;
}

h1,
h2 {
  font-family: "Raleway";
}

h2 {
  font-size: 1.1rem;
  font-weight: bold;
}

img {
  width: 100%;
  z-index: 20;
}

button,
input {
  height: 3rem;
  border-radius: 50em;
  width: 100%;
}
button {
  font-weight: bold;
  background-image: linear-gradient(90deg, var(--cyan), var(--blue));
}

input {
  width: calc(100% - (1.5rem * 2));
  padding: 0 1.5rem;
  border: none;
}

/* NAV BAR */
nav {
  background-color: var(--intro-bg);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navImg {
  height: 70%;
  width: 30vw;
  padding: 4px;
}

.navImg img {
  height: 100%;
}

.menu {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* PRESENTATION */

#presentation {
  background: var(--intro-bg);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.563rem;
  font-weight: bold;
  line-height: 2.5rem;
  position: relative;
  z-index: 10;
  padding: 2rem 1rem 0;
}

h1::before {
  content: "";
  position: absolute;
  height: 200%;
  width: 100%;
  bottom: -3.2rem;
  left: 0;
  background: center/contain no-repeat url(/images/bg-curvy-mobile.svg);
  z-index: -1;
}
h1::after {
  content: "";
  position: absolute;
  background-color: var(--main-bg);
  width: 100%;
  height: 3rem;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.bottom {
  margin: 0;
  padding: 2rem;
  background-color: var(--main-bg);
}
.bottom button {
  margin-top: 1rem;
}

/* FEATURES */
.feature,
#mainFeature {
  width: 80%;
  margin: 3rem auto;
}

.feature h2 {
  margin: 2rem auto 1rem;
}
.feature img {
  width: 20%;
}

/* MAIN FEATURE */
#mainFeature {
  margin-bottom: 7rem;
}

#mainFeature h2,
#mainFeature p,
.comment p {
  text-align: left;
}

#mainFeature h2 {
  margin: 2rem auto 1rem;
}

#mainFeature a {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1rem;
  width: fit-content;
  color: var(--cyan);
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--cyan);
}

#mainFeature a img {
  width: 1.1rem;
  margin-left: 0.5rem;
}

/* COMMENTS */

.comment {
  width: 75%;
  margin: 1.5rem auto;
  padding: 1.5rem 1rem;
  background: var(--test-bg);
  font-size: 0.7rem;
  border-radius: 0.2rem;
  position: relative;
}

.quotes {
  position: absolute;
  width: 1.5rem;
  top: -1.3rem;
  left: 0;
}

.profil {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1rem;
}

.avatar img {
  border-radius: 100%;
  width: 2rem;
}

.infos {
  margin-left: 0.5rem;
}

.name {
  font-weight: bold;
}

.job {
  font-size: 0.5rem;
}

/*SIGN IN */

#signIn {
  width: 90%;
  margin: 10rem auto 0;
  padding: 2rem 1.5rem;
  background-color: var(--intro-bg);
  border-radius: 0.5rem;
  box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.5);
  position: relative;
}

#signIn input {
  margin: 2rem 0;
}

#signIn::after {
  content: "";
  position: absolute;
  background-color: var(--footer-bg);
  bottom: 0;
  left: -2rem;
  z-index: -1;
  width: 115%;
  height: 50%;
}

/* FOOTER */

#contacts,
#footer,
footer {
  background-color: var(--footer-bg);
}

#contacts {
  padding: 3rem 1rem;
}

.logo {
  width: 100%;
  text-align: start;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.logo img {
  width: 50%;
}

.contact {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 7fr;
  margin-bottom: 1rem;
}

.icon {
  width: 1rem;
}

.icon img {
  width: 100%;
}

.contact p {
  width: 90%;
  text-align: start;
}

ul {
  text-align: start;
  padding: 0 0 2rem 1rem;
}

li {
  padding-bottom: 0.5rem;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social > li {
  padding: 0.4rem;
  border: 1px solid var(--white);
  border-radius: 9999999999px;
  margin-right: 0.6rem;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
